{% load bootstrap4 %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title> Sharer | Home</title>
    </head>
    <body>
        <div class="row" style="height: 100vh;">
            <div class="col-md-3" style="background-color: aqua; width: 100%;">
                <div class="row">
                    <div class="container">
                        <h1 style="text-align: center;"> Sharer</h1>
                    </div>                
                </div>
                <div class="row">
                    <!-- A search form -->
                    <form class="navbar-form" role="search" action="% url 'search_results' %}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Category" name="post">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>                            
                        </div>
                    </form>                
                </div>
                <div class="row">
                    {% if posts %}
                        <h2>Found {{ posts|length }} of {{message}} search</h2>                    
                    {% else %}
                        <h2> Found 0 posts of {{message}} search</h2>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9" style="width: 100%;">            
                <ul class="container">                    
                    {% if posts %}
                        {% for post in posts %}
                        <li style=" display: inline-block; padding: 10px 5px;"> 
                            <div class="card" style="height: 300px; width: 480px; background-color: aqua;">
                                <div class="card-body">
                                    <h3 style="display: inline-block;">{{post.title}}</h3>
                                    <p style="display: inline-block; padding-left: 30%;">{{post.category}}</p>
                                </div>
                                <img src="{{post.image_url.url}}" class="card-img-bottom" alt="" style="width: 480px; height:235px;">
                            </div>
                        </li>
                        {% endfor %}
                    {% endif %}                    
                </ul>
            </div>
        </div>
        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
